body {
  background-color: white;
  color: black;
  font-size: 1rem;
}

.dark-mode {
  background-color: black;
  color: white;
}

.text-center {
    text-align: center;
}

.top-margin {
	margin-top: 6px;
}


